<div class="container">
  <h1 class="r-name"><%= @restaurant.name %></h1>
  <p>
    <%= @restaurant.address %>
  </p>
  <p>
    <%= @restaurant.phone_number %>
  </p>
  <p>
    <%= @restaurant.category %>
  </p>

  <p>
    <h3>Leave a review</h3>
    <%= simple_form_for(@review,  url: restaurant_reviews_path(restaurant_id: @restaurant.id)) do |f| %>
      <%= f.input :rating %>
      <%= f.input :content %>
      <%= f.hidden_field :restaurant_id, value: @review.restaurant_id %>
      <%= f.submit %>
    <% end %>
  </p>
  <br>
  <p>
    <strong>Reviews</strong>
    <ul class='list-unstyled'>
      <% @restaurant.reviews.each do |review| %>
        <li>
          <%= review.rating %>    <%= review.content %>
        </li>
      <% end %>
    </ul>
  </p>

  <%= link_to 'Restaurants List', restaurants_path %>
</div>
